<h1>Listing people</h1>

<table>

<% @people.each do |person| %>
  <tr valign='top' class='row<%= cycle(1, 2) %>'>
    <td><% unless person.image_url.blank? %>
		<%= image_tag(person.image_url, :class => 'profile_image') %>
		<% end %>
		</td>
    <td><%= link_to person.name, person %></td>
    <td><%= login_button(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
