<h1>Listing objectives for <%= @project.name %></h1>

<table>
  <tr>
    <th colspan='2'>Objective</th>
    <th>Minutes</th>
    <th>Url</th>
    <th>Intended Start</th>
    <th>Due</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objectives.each do |objective| %>
  <tr valign='top' class='row<%= cycle(1, 2) %>'>
    <td colspan='2'><%= link_to objective.name, [@project, objective] %></td>
    <td align='right'><%= objective.minutes %></td>
    <td><%= objective.url.blank? ? '' : link_to(truncate_url(objective.url), objective.url) %></td>
    <td><%= get_user.local_time(objective.start) %></td>
    <td><%= get_user.local_time(objective.due) %></td>
  </tr>
<% unless objective.description.blank? %>
  <tr valign='top' class='row<%= cycle(1, 2) %>'>
    <td align='right'></td>
    <td colspan='5'><%= objective.description %></td>
  </tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Objective', new_project_objective_path(@project) %>
