<p>
  <b>Client:</b>
  <%= @client.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @client.contact.name %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<%= link_to 'Destroy', @client, :confirm => 'Are you sure?', :method => :delete %>

<%= render :file => 'projects/index' %>
