<p>
  <b>Client:</b>
  <%= link_to(@project.client.name, @project.client) %>
</p>

<p>
  <b>Project:</b>
  <%= @project.name %> (<%= link_to(@project.url, @project.url) %>)
</p>

<p>
  <b>Hours:</b>
  <%= @project.hours %>
</p>


<%= button_to('Start Activity', start_objective_task_path(@objective, @task)) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>

<h2>Sub-Projects</h2>
<%= render :partial => 'projects/sub_projects', :collection => @project.projects %>

<h2>Activities</h2>
<%= render :partial => 'activities/list', :collection => @project.activities %>
