<p>
  <b>Project:</b>
  <%= link_to_projects @project %> <%= link_to_project_url(@project) %>
		</p>

		<p>
<%= link_to('New Sub-Project', new_project_path(:parent_id => @project)) %>
</p>

<p>
  <b>Hours:</b>
  <%= @project.hours %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<%= button_to('Start Activity', start_project_path(@project)) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>

<h2>Activity</h2>
<%= render :partial => 'activities/list', :locals => { :activities => @project.activities.reverse } %>

<% unless @project.projects.empty? %><h2>Sub-Projects</h2>
<%= render :partial => 'projects/sub_projects', :locals => { :projects => @project.projects} %>
<% end %>
