<p>
	<b>Project:</b>
	<%= link_to_projects @project %> <%= link_to_project_url(@project) %>
</p>

<% if @project.archived? %>
<div class='alert'>Project is archived.</div>
<% end %>

<p>
  <b>Hours:</b>
  <%= @project.hours %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<% unless @project.archived? %>
<%= button_to('Start Activity', start_project_path(@project)) %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, :confirm => 'Are you sure?', :method => :delete %>

<% unless @project.projects.empty? %><h2>Sub-Projects</h2>
<%= render :partial => 'projects/sub_projects', :locals => { :projects => @project.ordered_sub_projects } %>
<% end %>

<h2>Activity</h2>
<% if @project.activities.empty? %>
<em>No Activity recorded</em>
<% else %>
	<%= render :partial => 'activities/list', :locals => { :activities => @project.activities.reverse } %>
<% end %>
