<p>
  <b>Person:</b>
  <%= @right.person_id %>
</p>

<p>
  <b>Accessable:</b>
  <%= @right.accessable_id %>
</p>

<p>
  <b>Accessable type:</b>
  <%= @right.accessable_type %>
</p>

<p>
  <b>Right:</b>
  <%= @right.right %>
</p>


<%= link_to 'Edit', edit_right_path(@right) %> |
<%= link_to 'Back', rights_path %>
