<h1>Editing Current Activity</h1>

<div style='float: right;' class='content'>
<h3>Adjust Start Time</h3>
<%= form_tag( :id => @current_activity.id, :action => :adjust_start ) do |f| %>
  <div class="field">
    <%= label_tag( :minutes, 'Add Minutes') %><br />
    <%= text_field_tag :adjustment, '0', :size => 6 %>
  </div>
  <div class="actions">
    <%= submit_tag('Add Minutes to Start') %>
  </div>
<% end %>
</div>


<%= render 'form' %>

<%= link_to 'Stop', @current_activity, :confirm => 'Are you sure?', :method => :delete %>


<p>
  <b>Person:</b>
  <%= @current_activity.person.name %>
</p>

<p>
  <b>Project:</b>
  <%= link_to(@current_activity.task.objective.project.fullname, @current_activity.task.objective.project) %>
</p>

<p>
  <b>Objective:</b>
  <%= link_to(@current_activity.task.objective.name, @current_activity.task.objective) %>
<br />
  <%= @current_activity.task.objective.description %>
</p>
