<h1>Editing Current Activity</h1>

<div style='float: right;' class='content'>
<h3>Adjust Start Time</h3>
<%= form_tag( :id => @current_activity.id, :action => :adjust_start ) do |f| %>
  <div class="field">
    <%= label_tag( :minutes, 'Add Minutes') %><br />
    <%= text_field_tag :adjustment, '0', :size => 6 %>
  </div>
  <div class="actions">
    <%= submit_tag('Add Minutes to Start Time') %>
  </div>
<% end %>
</div>

<%= render 'form' %>
