<h1>The Current Activity for <%= get_user.name %></h1>

<table>
  <tr>
    <th>Task</th>
    <th>Started</th>
    <th>Hours</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_activities.each do |current_activity| %>
  <tr valign='top' class='row<%= cycle(1, 2) %>'>
    <td><%= current_activity.project.name %></td>
    <td><%= current_activity.started.localtime %></td>
    <td align='right'><%= current_activity.hours %></td>
    <td><%= current_activity.description %></td>
    <td><%= link_to 'Show', current_activity %></td>
    <td><%= link_to 'Edit', edit_current_activity_path(current_activity) %></td>
    <td><%= link_to 'Destroy', current_activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
