<p>
  <b>Person:</b>
  <%= @current_activity.person.name %>
</p>

<p>
  <b>Project:</b>
  <%= link_to_projects @current_activity.project %> <%= link_to_project_url(@current_activity.project) %>
</p>

<p>
  <b>Started:</b>
  <%= @current_activity.started.localtime %> (local)
</p>

<p>
  <b>Description:</b>
  <%= @current_activity.description %>
</p>


<%= link_to 'Edit', edit_current_activity_path(@current_activity) %> |
<%= link_to 'Back', current_activities_path %>
