<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= @activity.person.name %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= select_tag "activity[project_id]", sub_projects_select(@activity.project) %>
  </div>
  <div class="field">
    <%= f.label :stopped %><br />
    <%= f.datetime_select :stopped %> FIXME: show the get_user.local_time(t)<br />
Now: <%= Time.now.utc %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br />
    <%= f.text_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area_local :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
