<table>
  <tr>
    <th>Project</th>
    <th>Stopped</th>
    <th>Minutes</th>
    <th></th>
    <th></th>
  </tr>

<% activities.each do |activity| %>
  <tr valign='top' class='row<%= cycle(1, 2) %>'>
    <td><%= link_to_projects(activity.project) %></td>
    <td><%= activity.stopped.localtime %></td>
    <td align='right'><%= activity.minutes %></td>
    <td><%= button_to('Start', start_project_path(activity.project)) %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
  </tr>
<% unless activity.description.blank? %>
  <tr valign='top' class='row<%= current_cycle %>'>
    <td class='rowblank'></td>
    <td colspan='4'><%= activity.description %></td>
  </tr>
<% end %>
<% end %>
</table>
