<p>
  <b>Person:</b>
  <%= link_to @activity.person.name, @activity.person %>
</p>

<p>
  <b>Project:</b>
  <%= link_to_projects @activity.project %> <%= link_to_project_url(@activity.project) %> 
</p>

<p>
  <b>Stopped:</b>
  <%= @activity.stopped.localtime %> (local)
</p>

<p>
  <b>Hours:</b>
  <%= @activity.hours %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Destroy', @activity, :confirm => 'Are you sure?', :method => :delete %>
