<!DOCTYPE html>
<html>
<head>
  <title>TimeTracker<%= @project.nil? ? '' : " ~ #{@project.fullname}" %></title>
  <%= stylesheet_link_tag( :application ) %>
  <%= javascript_include_tag( :application ) %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='wrapper'>
<div class='content' id='top'>
<% if get_user -%>
<ul class='nav_base_horizontal' id='dependability_bar'>
	<li><%= get_user.name %></li>
	<li><%= link_to('Account', get_user, :class => link_class(get_user)) %></li>
</ul>

<ul class='nav_base_horizontal' id='main_nav'>
	<li><%= link_to("Activities Today", activities_path, :class => link_class(activities_path)) %></li>
	<li><%= link_to("Recent Activities", all_activities_path, :class => link_class(all_activities_path)) %></li>
	<li><%= link_to('Reports', reports_person_path(get_user), 
		:class => link_class(reports_person_path(get_user))) %></li>
</ul>
<% end -%>
</div>
  
<% if get_user and get_user.current_activity -%>
<div class='content' id='current_activity'>
	<h3>Current Activity: 
	<%= link_to_projects(get_user.current_activity.project) %> 
	(<%= get_user.local_time(get_user.current_activity.started).strftime('%I:%M %p').downcase %> / <span id='activity_timer_minutes'>0</span> min)</h3>
<ul class='nav_base_horizontal' id='current_activity_nav'>
	<li><%= link_to 'Stop', get_user.current_activity, :confirm => 'Are you sure?', :method => :delete %></li>
	<li><%= link_to 'Cancel', cancel_current_activity_path(get_user.current_activity), :confirm => 'Are you sure you want to Cancel?', :method => :post %></li>
	<li><%= link_to 'Restart', restart_current_activity_path(get_user.current_activity), :confirm => 'Are you sure Restart the timer?', :method => :post %></li>
	<li><%= link_to 'Edit', edit_current_activity_path(get_user.current_activity) %></li>
</ul>
</div>
<% end -%>

<div class='content' id='left_col'>
<% if get_user -%>
<ul class='nav_base_vertical' id='left_nav'>
	<li><%= link_to( 'Projects', projects_path, :class => link_class(projects_path) )%></li>
	<li><%= link_to( 'Priorities', priority_projects_path, :class => link_class(priority_projects_path) )%></li>
	<li><%= link_to( 'Archived Projects', archived_projects_path) %></li>
	<li><%= link_to( 'People', people_path, :class => link_class(people_path) )%></li>
</ul>   
<% end -%>
</div>

<div class='content' id='middle'>

<ul class='nav_base_horizontal' id='controller_nav'>
	<%= render :file => "layouts/nav/projects/main" %>
</ul>

<% if notice %><div class='notice'><%= notice %></div><% end %>
<% if alert %><div class='alert'><%= alert %></div><% end %>

<%= yield %>

</div>

</div>

<div class='' id='bottom'>
<ul class='fineprint'>
	<li>Brought to you by nthWave Web Works.</li>
	<li><%= link_to('Legal', static_legal_path ) %></li>
</ul>
</div>

<% if get_user and get_user.current_activity -%>
<script language="javascript">
<!--
StartCurrentActivityTimer(<%= get_user.current_activity.minutes %>)
//-->
</script>
<% end -%>
</body>
</html>
